name: Blog Node.js CICD

on:
  push:
    branches: [dev, test, main]

jobs:
  dev:
    if: github.ref == 'refs/heads/dev'
    uses: ./.github/workflows/reusable-node.yml
    secrets: inherit

  test:
    if: github.ref == 'refs/heads/test'
    uses: ./.github/workflows/reusable-node.yml
    with:
      run_sonar: true
    secrets: inherit

  prod:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/reusable-node.yml
    with:
      deploy_path: /home/username/public_html/blog
    secrets: inherit
